.thebackground{
    height: 100vh;
    width: 100%;
    background-color: azure;
}
.qrcode{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 700px;
    align-items: center;
}