.background2 {
    height: 100vh;
    background: linear-gradient(123deg, rgb(0, 0, 30), rgb(50, 50, 100));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .photo1 {
    height: 60vh;
    width: 80%;
    background-image: url('./ChessHand.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  .content {
    width: 80%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    font-size: 3rem;
    font-family: 'Cursive', sans-serif;
    margin-bottom: 20px;
    color: #f8f8f8;
  }
  
  .description {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #e0e0e0;
  }
  
  .cta {
    margin-top: 30px;
  }
  
  .cta-button {
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  